
.navbar {
    background-color: #32A8EC;
    height: 8vh;
    width: 100vw;
    margin: 0 auto;
}

/* !-----DROPDOWN MENU BUTTON----- */

 .nav-action {
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px;
    height: 51px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.nav-action:hover {
    text-decoration: underline;
}

/* !------LOGIN BUTTON----- */

.login {
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    height: 63px;
    border: none;
    font-size: 100%;
    padding: 5px;
    margin: 0 .5rem;
}

.login:hover {
    text-decoration: underline;
}

/* !------ABOUT BUTTON----- */

.header-item {
    text-transform: uppercase;
    font-weight: 700;
    height: 51px;
    border: none;

    padding: 5px;
    margin: 0 .5rem;
}

.about{
    font-size: 17px;
}



.header-item:hover {
    text-decoration: underline;
}

/* !-----DROPDOWN MENU ITEMS----- */

.open-menu{
    padding: 5px;
}

.nav-list-item {
    background-color: #B1AA51;
    padding: 10px;
    position: absolute;
    right: 0;
    height: 28vh;
    margin-top: 13px;
    display: flex;
    flex-direction: column;

}

.nav-item {
font-size: 24px;
margin: 10px;
}
.nav-item:hover {
    text-decoration: underline;
    color: white;
}

.display-ib{
    display: inline-block;
}

.title{
    font-size: 50px;

}

.nav-container {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    position: absolute;
    right: 50px;
}

.links{
    text-decoration: none;
    color: black;
}